<div id="sec1" class="blurb page">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1>Nos Témoins</h1>
				<div class="hidden">http://www.reasonablyclever.com/mm2/mini2.swf</div>
				<div class="lego-left">
					<div class="lego">
						<div class="person">
							<div class="card">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus at quam nunc. Nunc porttitor varius sapien, sit amet
									pulvinar enim lobortis eget. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Donec
									sagittis molestie lectus a rhoncus.</p>
							</div>
							<div class="img-nom">
								<img src="img/lego-caroline.png" alt="lego caroline"
									style="width: 100px; height: 100px" class="img-circle" />
								<p class="text">Caroline</p>
							</div>
						</div>
					</div>
					<div class="lego">
						<div class="person">
							<div class="card">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus at quam nunc. Nunc porttitor varius sapien, sit amet
									pulvinar enim lobortis eget. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Donec
									sagittis molestie lectus a rhoncus.</p>
							</div>
							<div class="img-nom">
								<img src="img/lego-angela.png" alt="lego angela"
									style="width: 100px; height: 100px" class="img-circle" />
								<p class="text">Angela</p>
							</div>
						</div>
					</div>
					<div class="lego">
						<div class="person">
							<div class="card">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus at quam nunc. Nunc porttitor varius sapien, sit amet
									pulvinar enim lobortis eget. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Donec
									sagittis molestie lectus a rhoncus.</p>
							</div>
							<div class="img-nom">
								<img src="img/lego-isabelle.png" alt="lego isabelle"
									style="width: 100px; height: 100px" class="img-circle" />
								<p class="text">Isabelle</p>
							</div>
						</div>
					</div>
				</div>
				<div class="lego-right">
					<div class="lego">
						<div class="person">
							<div class="img-nom">
								<img src="img/lego-anja.png" alt="lego anja"
									style="width: 100px; height: 100px" class="img-circle" />
								<p class="text">Anja</p>
							</div>
							<div class="card">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus at quam nunc. Nunc porttitor varius sapien, sit amet
									pulvinar enim lobortis eget. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Donec
									sagittis molestie lectus a rhoncus.</p>
							</div>
						</div>
					</div>
					<div class="lego">
						<div class="person">
							<div class="img-nom">
								<img src="img/lego-kevin.png" alt="lego kevin"
									style="width: 100px; height: 100px" class="img-circle" />
								<p class="text">Kevin</p>
							</div>
							<div class="card">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus at quam nunc. Nunc porttitor varius sapien, sit amet
									pulvinar enim lobortis eget. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Donec
									sagittis molestie lectus a rhoncus.</p>
							</div>
						</div>
					</div>
					<div class="lego">
						<div class="person">
							<div class="img-nom">
								<img src="img/lego-ludovic.png" alt="lego ludovic"
									style="width: 100px; height: 100px" class="img-circle" />
								<p class="text">Ludovic</p>
							</div>
							<div class="card">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus at quam nunc. Nunc porttitor varius sapien, sit amet
									pulvinar enim lobortis eget. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Donec
									sagittis molestie lectus a rhoncus.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>