<div id="bestMen" class="page" data-ng-controller="BestMenController">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1>Nos Témoins</h1>
				<div class="hidden">http://www.reasonablyclever.com/mm2/mini2.swf</div>
				<div class="lego-left">
					<div class="lego" data-ng-repeat="bestMan in bestMen" data-ng-if="$even">
						<div class="person">
							<div class="card">
								<p>
									<span data-ng-repeat="line in (bestMan.description | newlines) track by $index">{{line}} <br /></span>
								</p>
							</div>
							<div class="img-nom">
								<img data-ng-src="{{ bestMan.imgSrc }}"
									alt="lego {{ bestMan.firstName }}" class="img-circle" />
								<p class="text">{{ bestMan.firstName }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="lego-right">
					<div class="lego" data-ng-repeat="bestMan in bestMen" data-ng-if="$odd">
						<div class="person">
							<div class="img-nom">
								<img data-ng-src="{{ bestMan.imgSrc }}"
									alt="lego {{ bestMan.firstName }}"class="img-circle" />
								<p class="text">{{ bestMan.firstName }}</p>
							</div>
							<div class="card">
								<p>
									<span data-ng-repeat="line in (bestMan.description | newlines) track by $index">{{line}} <br /></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="lego-right">
					<div class="lego">
						<div class="person" style="vertica">
							<p>Contact sur <a href="mailto:best-men@adi3000.com" >best-men@adi3000.com</a></p>
							<p><em>Cette adresse ne contact que les témoins, pas les futurs maries</em></p>
							<p><em>Contact des futurs mari&eacute;s : <a href="mailto:best-wedding-ever@adi3000.com" >best-wedding-ever@adi3000.com</a></em></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>