<div class="featurette  page" id="sec2">
   <div class="container">
     <div class="row">
       <div class="col-md-12 text-center">
         <h1>La Demande</h1>
       </div>
       <div>
         <p class="text">
           Pour les personnes qui nous connaissent bien, la demande de M. Adrien ne vous étonnera pas. <br/>
           Un soir d'octobre, le 4 octobre 2013 plus précisément, Adrien ne cessait de m'inciter à travailler, quelle drôle d'idée pour un vendredi soir. Pour ne pas changer, je préfère faire l'inverse de ce qu'il me demande et donc reste à flaner dans le canapé. <br/>
           Une fois que M. n'insiste plus pour que je travaille et je me dirige vers l'ordinateur.  <br/>
           Etrangement, une console (la boîte noire) était ouverte avec un petit message étrange d'écrit : <br/>
           "Somme issue with terminal have been recorded, would you want to fix it now ? [Y/N]". <br/>
           Ne connaissant pas ce message d'erreur, je demande à M. la bonne réponse, et là, il se rend compte qu'il avait complètement oublié ce qui m'attendait mais il m'a tout de même conseillé de valider le message. <br/>
           Je vous laisse découvrir ou redécouvrir la suite de l'histoire.
         </p>
       </div>
       <div>
         <video width="400" height="222" controls="controls">
           <source src="img/proposal.mp4" type="video/mp4" />
           Petite vidéo de la demande By Adi.
         </video>
       </div>
     </div>
   </div>
</div>