<div class="page" id="where">
	<div class="row">
		<div class="col-md-12 text-center ouquandcomment">
			<h1>Où/Quand/Comment</h1>
			<div class="map-hotels">
				<div class="map">
					<iframe class="google-map"
						src="https://mapsengine.google.com/map/embed?mid=zRPm7h2VkobM.kYUa1CGVaAmU"></iframe>
				</div>
				<div class="liste-hotels">
					<h3>Hôtels/Gîtes proches de la réception</h3>
					<ul class="hotels">
						<li>(A) <a href="http://www.moulinande.com/sejourner.php">La
								Serre</a> : sur le lieu de la réception
						</li>
						<li>(B) <a
							href="http://www.gite-ande-eure-les-kikounets.fr/92884999">Les
								Kikounets </a>: à 5 minutes à pieds
						</li>
						<li>(C) <a href="http://www.gite-des-roses-eure.fr/1.html">Le
								Gite des Roses</a> : à 15 minutes à pieds
						</li>
						<li>(D) <a
							href="http://location-gite-chambre-d-hote-le-val-d-ande-normandie.fr/12.html">Le
								Val d'Andé</a> : à 15 minutes à pieds
						</li>
					</ul>
					<p class="info-hotel">Implentation de tentes possible dans le
						jardin des parents de la future mariée (à 10 minutes à pieds)</p>
				</div>
			</div>
			<div class="informations">
				<div class="information">
					<div class="event-date">
						<div class="date">
							<span class="day">6</span> <span class="month">Juin 2015</span>
						</div>
						<div class="hour">15:30</div>
					</div>
					<div class="placement">
						<div class="description">
							<h3>Cérémonie à la Mairie</h3>
							<p class="title-place">Mairie d'Andé - 5 rue des Ecoles -
								27430 Andé</p>
						</div>
						<div class="images">
							<img src="img/mairie.jpg" alt="mairie">
						</div>
					</div>
				</div>
				<div class="information">
					<div class="event-date">
						<div class="date">
							<span class="day">6</span> <span class="month">Juin 2015</span>
						</div>
						<div class="hour">16:00</div>
					</div>
					<div class="placement">
						<div class="description">
							<h3>Vin d'honneur</h3>
							<p class="title-place">Théâtre du Moulin d'Andé - au bout de
								la rue du Moulin - 27430 Andé</p>
						</div>
						<div class="images">
							<img src="img/vin_d-honneur.jpg" alt="moulin exterieur">
						</div>
					</div>
				</div>
				<div class="information">
					<div class="event-date">
						<div class="date">
							<span class="day">6</span> <span class="month">Juin 2015</span>
						</div>
						<div class="hour">19:00</div>
					</div>
					<div class="placement">
						<div class="description">
							<h3>Dîner</h3>
							<p class="title-place">Théâtre du Moulin d'Andé - au bout de
								la rue du Moulin - 27430 Andé</p>
						</div>
						<div class="images">
							<img src="img/diner.jpg" alt="moulin interieur">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>